{{ $page := .page }}
{{ $meta := index site.Data.writing.items $page.File.ContentBaseName | default dict }}
{{ $topic := $meta.topic | default (index ($page.Params.tags | default (slice "Notes")) 0) }}
{{ $date := $meta.date_label | default ($page.Date.Format "Jan. 2006") }}
{{ $datetime := $meta.datetime | default ($page.Date.Format "2006-01-02") }}
<li class="writing-entry">
  <div class="writing-entry-meta"><time datetime="{{ $datetime }}">{{ $date }}</time><span>{{ $topic }}</span></div>
  <h3><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h3>
  {{ with $page.Params.summary }}<p>{{ . | markdownify }}</p>{{ end }}
  {{ if ne $page.Params.writing_kind "research" }}<div class="writing-resources">{{ partial "page_links" (dict "page" $page "is_list" 1) }}</div>{{ end }}
</li>
